{% extends "base.twig" %}

{% block content %}
	{# <nav>
		<ul>
			<li>
				<a href="/background">Background</a>
				<span class="separator">></span>
			</li>
			<li>
				<select>
				{% for category in categories %}
					<option>{{category.name}}</option>
				{% endfor %}
				<select>
			</li>
		</ul>
	</nav> #}

	{% for post in posts %}
		{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
	{% endfor %}

	{% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
{% endblock %}
