/* Base Font */
/* Base sizes */
/* Component sizes */
/* Transition/animation settings */
/* Elevation styles for box shadows */
/*
 * These mixins allow you to use CSS grid with functional fallbacks for IE11
 * IE11 Supports basic grid layouts, but its all janky.
 */
/* Convenience classes for setting up grid contexts */
.row {
  max-width: 1280px;
  padding: 0 16px; }
  @media all and (min-width: 600px) {
    .row {
      padding: 0 1rem; } }
  @media all and (min-width: 840px) {
    .row {
      padding: 0 1.5rem; } }
  @media all and (min-width: 1312px) {
    .row {
      margin: 0 auto; } }

.grid-parent {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 16px; }
  @media all and (min-width: 600px) {
    .grid-parent {
      -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: repeat(8, 1fr);
      grid-column-gap: 1rem; } }
  @media all and (min-width: 840px) {
    .grid-parent {
      -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: repeat(12, 1fr);
      grid-column-gap: 1.5rem; } }

.grid-parent-auto {
  display: flex;
  flex-flow: row wrap; }
  @supports (display: grid) {
    .grid-parent-auto {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 16px; }
      @media all and (min-width: 600px) {
        .grid-parent-auto {
          grid-template-columns: repeat(8, 1fr);
          grid-column-gap: 1rem; } }
      @media all and (min-width: 840px) {
        .grid-parent-auto {
          grid-template-columns: repeat(12, 1fr);
          grid-column-gap: 1.5rem; } } }

@keyframes grow {
  0% { }
  1% {
    max-height: 0; }
  100% {
    max-height: 1000px; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

.pull-right {
  float: right; }

.pull-left {
  float: left; }

.hidden {
  display: none !important; }

@media all and (min-width: 600px) {
  .hide-medium {
    display: none !important; } }

.hide-small {
  display: none !important; }
  @media all and (min-width: 600px) {
    .hide-small {
      display: block !important; } }

.center {
  text-align: center; }

.grey {
  color: #a6a7a9; }

.bg-image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.button {
  border-radius: 0;
  border: 1px solid #fff;
  padding: 10px 12px 7px 12px;
  -webkit-appearance: none;
  cursor: pointer; }

img.fit {
  object-fit: cover; }

.lazy {
  opacity: 0;
  transition: opacity .8s ease-out; }

img.lazy {
  width: 100%;
  height: auto; }

.lazy.loaded, .lazy.error {
  opacity: 1; }

img.lazy:not([src]) {
  visibility: hidden; }

.fade-in {
  opacity: 0;
  transition: opacity 0.25s ease-in; }
  .first-loaded .fade-in {
    opacity: 1; }

.skip-link {
  height: 1px;
  left: -10000px;
  overflow: hidden;
  position: absolute;
  width: 1px; }
  .skip-link:focus {
    background: #fff;
    color: #0550c8;
    height: auto;
    left: 0;
    padding-left: 1rem;
    width: 100%;
    z-index: 99999; }

a {
  text-decoration: none;
  color: #323131; }

p a {
  text-decoration: underline;
  text-underline-offset: 0.1rem; }

a.block-link {
  font-weight: 700; }

h2 {
  max-width: 590px;
  margin: 2rem auto 5rem auto; }
  @media all and (min-width: 600px) {
    h2 {
      margin: 6rem auto 8rem auto; } }

.type-title, h1 {
  font: 600 2rem/2rem "Oswald", Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.02rem; }

.type-dek {
  font: 600 1rem/1.5rem "EB Garamond", serif; }
  @media all and (min-width: 600px) {
    .type-dek {
      font: 600 1.5rem/2rem "EB Garamond", serif; } }

.type-heading, h2 {
  font: 600 2rem/2.5rem "Oswald", Helvetica, sans-serif; }
  @media all and (min-width: 840px) {
    .type-heading, h2 {
      font: 600 3.75rem/4.25rem "Oswald", Helvetica, sans-serif;
      letter-spacing: -0.1rem; } }

.type-subheading, h3 {
  font: 700 1.5rem/2rem "Oswald", Helvetica, sans-serif;
  margin-bottom: 0.75rem; }
  @media all and (min-width: 600px) {
    .type-subheading, h3 {
      font: 700 2rem/2.5rem "Oswald", Helvetica, sans-serif; } }

.type-tinyheading {
  font: 700 0.875rem/1.25rem "Oswald", Helvetica, sans-serif;
  letter-spacing: 0.008125rem; }

.type-paragraph, p, .type-link, p a, a.block-link {
  font: 400 1.25rem/1.75rem "EB Garamond", serif;
  margin-bottom: 0.75rem; }
  @media all and (min-width: 600px) {
    .type-paragraph, p, .type-link, p a, a.block-link {
      font: 400 1.5rem/2rem "EB Garamond", serif;
      margin-bottom: 0.75rem; } }

.type-label {
  font: 600 0.875rem/1.125rem "EB Garamond", serif; }

.type-caption {
  font: 400 0.875rem/1.25rem "EB Garamond", serif; }

.type-fine-print, footer.row p {
  font: 600 0.75rem/1rem "EB Garamond", serif; }

.type-link, p a, a.block-link {
  color: #1878b0;
  text-decoration: none;
  border-bottom: 1px solid #1878b0;
  transition: background-color 0.25s linear; }
  .type-link:hover, p a:hover, a.block-link:hover {
    background-color: rgba(34, 34, 34, 0.04); }
  .type-link:active, p a:active, a.block-link:active {
    background-color: rgba(34, 34, 34, 0.08); }
  .type-link:visited, p a:visited, a.block-link:visited {
    border-bottom: #d6d7d8; }

body {
  background-color: #f9f6f4;
  color: #323131;
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 16px;
  line-height: 26px;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased; }

main {
  display: block;
  overflow-x: hidden;
  margin-top: 2rem; }

section {
  width: 100%;
  margin-bottom: 30px; }
  @media all and (min-width: 600px) {
    section {
      margin-bottom: 54px; } }

article {
  max-width: 590px;
  margin: 0 16px; }
  @media all and (min-width: 600px) {
    article {
      margin: 0 1rem; } }
  @media all and (min-width: 840px) {
    article {
      margin: 0 1.5rem; } }
  @media all and (min-width: 622px) {
    article {
      margin-left: auto;
      margin-right: auto; } }
  article p {
    text-align: justify; }

.separator {
  height: 1px;
  background: repeat-x top left url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='1' height='1'><rect fill='rgb(17, 17, 17)' x='0' y='0' width='1' height='0.5'/></svg>");
  margin-top: 26px;
  margin-bottom: 26px; }

footer.row {
  padding-top: 10rem;
  padding-bottom: 1rem; }

header.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-top: 1rem; }

nav {
  display: flex;
  align-items: center; }
  nav ul {
    display: flex;
    margin-top: 6px; }
  nav li:not(:first-child) {
    margin-left: 1rem; }
  nav a {
    font: 600 1rem/1 "Oswald", Helvetica, sans-serif; }

.tease {
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #d6d7d8; }
  .tease:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 0; }

.page-404 {
  overflow: visible; }
