// Various helper classes

.pull-right {
  float:right;
}

.pull-left {
  float: left;
}

.hidden {
  display: none !important;
}

.hide-medium {
  @media all and (min-width: #{$screen-md-min}) {
    display: none !important;
  }
}

.hide-small {
  display: none !important;

  @media all and (min-width: #{$screen-md-min}) {
    display: block !important;
  }
}

.center {
  text-align: center;
}

.grey {
  color: $c-neutral-06;
}

.bg-image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.button {
  border-radius: 0;
  border: 1px solid $c-white;
  padding: 10px 12px 7px 12px;
  -webkit-appearance: none;
  cursor: pointer;
}

img.fit {
  object-fit: cover;
}

// Helpers for lazy loading images
.lazy {
  opacity: 0;
  transition: opacity .8s ease-out;
}

img.lazy {
  width: 100%; height: auto;
}

.lazy.loaded, .lazy.error {
  opacity: 1;
}

img.lazy:not([src]) {
  visibility: hidden;
}

// Fade in text
.fade-in {
  opacity: 0;
  transition: opacity $default-transition-speed $default-transition-easing;

  .first-loaded & {
    opacity: 1;
  }
}

.skip-link {
  height: 1px;
  left: -10000px;
  overflow: hidden;
  position: absolute;
  width: 1px;

  &:focus {
    background: #fff;
    color:#0550c8;
    height: auto;
    left: 0;
    padding-left: 1rem;
    width: 100%;
    z-index: 99999;
  }
}
