//
// Type defaults
//
p {
  @extend .type-paragraph;
}

a {
  text-decoration: none;
  color: $c-neutral-02;

  &:hover {
    border-bottom: 1px solid $c-neutral-02;
  }
}

p a {
  @extend .type-link;

  text-decoration: underline;
  text-underline-offset: 0.1rem;
}

a.block-link {
  @extend .type-link;

  font-weight: 700;
}

h1 {
  @extend .type-title;
}

h2 {
  @extend .type-heading;

  max-width: $read-max-width;
}

h3 {
  @extend .type-subheading;
}

//
// Various typographic styles that can be @extend'ed by your CSS or included directly in in your markup
//

// Used for feature title
.type-title {
  font: 600 2rem/2rem $header-font-family;
  text-transform: uppercase;
  letter-spacing: 0.02rem;
}

// Used for article dek
.type-dek {
  font: 600 1rem/1.5rem $base-font-family;

  @media all and (min-width: #{$screen-md-min}) {
    font: 600 1.5rem/2rem $base-font-family;
  }
}

// Used for content headings
.type-heading {
  font: 600 2rem/2.5rem $header-font-family;

  @media all and (min-width: #{$screen-lg-min}) {
    font: 600 3.75rem/4.25rem $header-font-family;
    letter-spacing: -0.1rem;
  }
}

// Used for content subheadings
.type-subheading {
  font: 700 1.5rem/2rem $header-font-family;
  margin-bottom: 0.75rem;

  @media all and (min-width: #{$screen-md-min}) {
    font: 700 2rem/2.5rem $header-font-family;
  }
}

// Used for e.g. footer column headings
.type-tinyheading {
  font: 700 0.875rem/1.25rem $header-font-family;
  letter-spacing: 0.008125rem;
}

// Used for body copy
.type-paragraph {
  font: 400 1.25rem/1.75rem $base-font-family;
  margin-bottom: 0.75rem;

  @media all and (min-width: #{$screen-md-min}) {
    font: 400 1.5rem/2rem $base-font-family;
    margin-bottom: 0.75rem;
  }

}

// Used for text labels in buttons, forms and other UI components
.type-label {
  font: 600 0.875rem/1.125rem $base-font-family;
}

// Used for photo captions and UI components
.type-caption {
  font: 400 0.875rem/1.25rem $base-font-family;
}

// Used for overlines
.type-fine-print {
  font: 600 0.75rem/1rem $base-font-family;
}

// Generic link styling
.type-link {
  @extend .type-paragraph;

  color: $c-action-blue;
  text-decoration: none;
  border-bottom: 1px solid $c-action-blue;
  transition: background-color 0.25s linear;

  &:hover {
    background-color: rgba($c-neutral-01, 0.04);
  }

  &:active {
    background-color: rgba($c-neutral-01, 0.08);
  }

  &:visited {
    border-bottom: $c-neutral-07;
  }
}
