// Neutral colours
$c-neutral-01: #222222;
$c-neutral-02: #44484c;
$c-neutral-03: #575b5e;
$c-neutral-04: #75767a;
$c-neutral-05: #8c8d90;
$c-neutral-06: #a6a7a9;
$c-neutral-07: #d6d7d8;
$c-neutral-08: #eeefef;
$c-neutral-09: #f7f7f7;
$c-black: #000;
$c-white: #fff;
$c-primary: $c-neutral-01;

// UI feedback
$c-negative: #e51d1f;
$c-positive: #008742;

// Other colors
$c-action-blue: #1878b0;

// Sharing icon colors
$c-share-facebook: #3b5998;
$c-share-twitter: #1da1f2;
$c-share-email: #6fa251;
$c-share-reddit: #ff4500;
$c-share-linkedin: #0077b5;
