// Case study module (appears on home page, case study page)
.case-study-module {
  display: block;
  text-align: center;
  margin-bottom: 67px;

  @include grid-media($grid-large) {
    margin-bottom: 122px;
  }

  a.noborder {
    display: block;
  }

  img {
    display: block;
    margin-bottom: 25px;

    @include grid-media($grid-medium) {
      margin-bottom: 30px;
    }

    @include grid-media($grid-large) {
      margin-bottom: 48px;
    }
  }

  .outer-container {
    position: relative;
  }

  .contents {
    position: relative;
  }

  small.index {
    position: absolute;
    top: 0; left: $base-padding;

    @include grid-media($grid-medium) {
      left: $base-padding-medium;
    }

    @include grid-media($grid-large) {
      left: $base-padding-large;
    }
  }

  .meta a {
    display: block;
  }

  .read-more {
    display: block;

    a {
      display: inline-block;
    }
  }

  h2 {
    margin-bottom: 12px;

    @include grid-media($grid-large) {
      margin-bottom: 24px;
    }
  }

  h3 {
    max-width: 300px;
    margin: 0 auto 17px auto;

    @include grid-media($grid-medium) {
      max-width: 476px;
      margin: 0 auto 27px auto;
    }

    @include grid-media($grid-large) {
      max-width: 675px;
    }
  }
}
