nav {
  display: none;
  position: fixed;
  z-index: 11;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background-color: $white;

  @media (min-width: $screen-md-min) {
    display: block;
    position: absolute;
    left: auto; right: $base-padding-large;
    height: inherit; width: 50%;
    transform: none;
    background-color: transparent;
    overflow-y: visible;
  }

  ul.main-nav {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, calc(-50% - 36px));
    text-align: center;

    @media (min-width: $screen-md-min) {
      top: 14px;
      text-align: right;
      right: 0; left: auto;
      transform: none;
      overflow: visible;
    }

    @media (min-width: $screen-lg-break) {
      top: 26px;
    }

    li {
      display: block;

      @media (min-width: $screen-md-min) {
        margin-left: $base-padding;
        display: inline-block;
      }
    }

    a {
      font: 400 50px/50px $helvetica;
      color: $red-1;
      text-transform: uppercase;

      &:hover {
        @include grid-media($grid-medium) {
          background: repeat-x bottom left url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='1' height='1'><rect fill='rgb(17, 17, 17)' x='0' y='0' width='1' height='0.5'/></svg>");
        }
      }

      @media (min-width: $screen-md-min) {
        font: 400 12px/20px $helvetica;
        color: $black;
      }
    }
  }

  .nav-footer, .nav-header {
    .logo-container {
      display: block !important;
    }

    @media (min-width: $screen-md-min) {
      display: none;
    }
  }

  .nav-header {
    position: absolute;
    top: $base-padding;

    .logo-container {
      top: 0;
    }

    .logo {
      transform: none;
    }
  }

  .nav-footer {
    position: absolute;
    bottom: 0; left: 0;
    background: repeat-x top left url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='1' height='1'><rect fill='rgb(17, 17, 17)' x='0' y='0' width='1' height='0.5'/></svg>");
    width: calc(100% - #{$base-padding * 2});
    margin: 0 $base-padding 24px $base-padding;
    padding-top: $base-padding;

    .left {
      margin: 0;
    }

    .right {
      margin-left: $base-padding * 2;

      a {
        font: 400 12px/12px $helvetica;
        text-transform: uppercase;
      }
    }
  }
}

header.active nav {
  display: block;
}
