.news-posts {
  margin-bottom: 28px;

  @include grid-media($grid-large) {
    margin-bottom: 64px;
  }

  .news-post {
    @include gridWidths(6, 6, 6);
    margin-bottom: 38px;

    @include grid-media($grid-large) {
      margin-bottom: 58px;
    }

    .thumbnail {
      display: block;
      width: 100%;
      padding-bottom: 65.38%;
      background-size: cover;
      background-position: center;
      margin-bottom: 20px;
      position: relative;
      overflow: hidden;

      @include grid-media($grid-large) {
        margin-bottom: 30px;
      }

      video {
        position: absolute;
        width: 100%; height: 100%;
        object-fit: cover;
      }
    }

    .meta {
      @include clearfix;
    }

    .meta > div {
      width: 50%;
      float: left;
    }

    .date-container small {
      display: block;
    }

    .title-container {
      h3 {
        @extend .fs-h-02;

        @include grid-media($grid-medium) {
          margin-bottom: 14px;
        }
      }
    }

    .read-more {
      display: none;

      @include grid-media($grid-medium) {
        display: inline-block;
      }
    }
  }
}
