section.share {
  text-align: center;
  margin-bottom: 59px;

  @include grid-media($grid-medium) {
    margin-bottom: 109px;
  }

  ul {
    margin-bottom: 10px;

    @include grid-media($grid-medium) {
      margin-bottom: 12px;
    }
  }

  li {
    display: inline-block;
    margin: 0 4px;
  }

  a {
    @extend .fs-sm-00;
  }

  .copy-link .active {
    display: none;
  }

  .copy-link img {
    margin-left: 4px;
  }

  .copy-link.copied {
    .initial {
      display: none;
    }

    .active {
      display: inline;
    }
  }
}
