.case-study {
  margin-top: $header-height;

  .intro {
    display: block;
    text-align: center;
    margin-bottom: $module-margin-bottom;

    @include grid-media($grid-large) {
      margin-bottom: 60px;
    }
  }

  .intro .meta-container-top {
    margin-top: 47px;

    @include grid-media($grid-medium) {
      margin-top: 77px
    }

    @include grid-media($grid-large) {
      margin-top: 118px
    }

    &.two {
      margin-top: 1px;
      transform: translateY(46px);
      z-index: 1;

      @include grid-media($grid-medium) {
        margin-top: -8px;
        transform: translateY(86px);
      }

      @include grid-media($grid-large) {
        margin-top: 16px;
        transform: translateY(102px);
      }
    }

    &.three {
      position: absolute;
      z-index: 1;

      @include grid-media($grid-medium) {
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
      }

      * {
        color: $white;
      }
    }
  }

  .intro .hero {
    position: relative;
    margin-bottom: 36px;
    z-index: -1;

    @include grid-media($grid-large) {
      margin-bottom: 64px;
    }

    &.pad {
      margin-bottom: 34px;

      @include grid-media($grid-medium) {
        margin-bottom: 64px;
      }
    }

    img.client-logo {
      position: absolute;
      z-index: 2;
      top: 50%; left: 50%;
      width: 50%; height: auto;
      transform: translate(-50%, -50%);
      width: 90%;

      @include grid-media($grid-medium) {
        width: 65%;
      }

      @include grid-media($grid-large) {
        width: 55%;
      }
    }

    .gradient {
      transition: opacity .5s ease-out;

      body.c-loaded & {
        opacity: 0;
      }
    }
  }

  .intro .meta {
    h1 {
      @extend .fs-h-04;
      margin-bottom: 20px;
    }

    h2 {
      @extend .fs-h-05;
      z-index: 2;
      margin: 0 auto 24px auto;
      padding: 0 10px;

      @include grid-media($grid-medium) {
        max-width: 926px;
        margin: 0 auto 55px auto;
      }
    }

    &.below-image h2 {
      margin-bottom: 31px;

      @include grid-media($grid-large) {
        margin-bottom: 45px;
      }
    }
  }

  .intro-copy {
    @include gridWidths(6, 8, 6);
    text-align: left;
    margin-bottom: 18px;

    @include grid-media($grid-medium) {
      @include grid-push(2);
    }

    @include grid-media($grid-large) {
      @include grid-push(3);
    }

    h4 {
      text-transform: uppercase;
      margin-bottom: 8px;

      @include grid-media($grid-medium) {
        margin-bottom: 13px;
      }
    }

    p {
      margin-bottom: 1em;
    }
  }

  .services {
    @include gridWidths(6, 6, 4);
    text-align: center;
    padding: 0 45px 0 28px;

    @include grid-media($grid-medium) {
      @include grid-push(3);
      padding-left: 0;
    }

    @include grid-media($grid-large) {
      @include grid-push(4);
    }

    small {
      display: block;
      margin-bottom: 12px;
    }

    ul {
      @extend .fs-h-03;
    }

    li {
      @extend .fs-h-03;
      white-space: nowrap;
      display: inline-block;
    }
  }
}
