//
// Intro options
//
.page-home .intro-image {
  &.small {
    display: block;

    @include grid-media($grid-medium) {
      display: none;
    }
  }

  &.large {
    display: none;

    @include grid-media($grid-medium) {
      display: block;
    }
  }
}

//
// Intro Image
//
body.intro-image header.static-header .logo-container {
  display: none;
}

body.intro-image .page-home .home-intro {
  @include grid-media($grid-medium) {
    position: relative;
    height: 92px;
  }

  @include grid-media($grid-large) {
    height: 140px;
  }

  .intro-image {
    position: absolute;
    z-index: 100;
    opacity: 0;
    top: calc(50vh - 42px); left: 50vw;
    height: auto; width: 80vh;
    transform: rotate(-90deg) translate(-50%, -50%);
    transform-origin: top left;
    pointer-events: none;
    transition: opacity $default-transition-speed $default-transition-easing;

    @include grid-media($grid-medium) {
      width: calc(100vw - 192px); height: auto;
      bottom: 0; top: auto;
      transform: translate(-50%, 44%);
    }
  }
}
body.menu-open.intro-image .page-home .home-intro .intro-image {
  display: none;
}

body.first-loaded .page-home .home-intro .intro-image {
  opacity: 1;
}

body.c-scrolled .page-home .home-intro .intro-image {
  opacity: 0;

  &.no-fade {
    opacity: 1;
  }
}

//
// Intro Text
//
body.intro-text .page-home .home-intro {
  .contents {
    @include grid-media($grid-medium) {
      padding: 0 6%;
    }
  }
  h1 {
    @extend .fs-h-17;
    padding: 0;
    transform: translateY(23px);
    z-index: 1;
    margin-top: 78px;
    text-align: center;
    color: $red-1;

    @include grid-media($grid-medium) {
      transform: translateY(64px);
      margin-top: 135px;
    }
  }
}

//
// Intro News
//
body.intro-news .page-home .home-intro {
  margin-top: 54px;

  @include grid-media($grid-medium) {
    margin-top: 113px;
  }

  .image-container  {
    text-align: center;

    img {
      z-index: -1;
      transform: translateY(47px);
      height: auto;
      margin: 0 auto;
      opacity: 1;

      @include grid-media($grid-medium) {
        transform: translateY(75px);
      }
    }
  }

  .meta {
    @include gridWidths(5, 8, 8);
    @include grid-push(1);
    margin-bottom: 58px;

    @include grid-media($grid-medium) {
      @include grid-push(2);
      margin-bottom: 108px;
    }

    @include grid-media($grid-large) {
      @include grid-push(2);
    }

    * {
      color: $red-1;
    }

    small.date {
      display: block;
      margin-bottom: 14px;

      @include grid-media($grid-medium) {
        margin-bottom: 20px;
      }
    }

    h3 {
      @extend .fs-h-05;
      margin-bottom: 8px;

      @include grid-media($grid-medium) {
        margin-bottom: 10px;
      }
    }
  }

}

//
// Rest of the page
//
.page-home {
  margin-top: 0;

  @include grid-media($grid-medium) {
    margin-bottom: 32px;
  }

  h1 {
    padding: 17px 0 17px $base-padding;

    @include grid-media($grid-medium) {
      padding: 16px 0 $base-padding-medium $base-padding-medium;
    }

    @media (min-width: $screen-lg-break) {
      padding: 30px 0 30px $base-padding-large;
    }

    span {
      @extend .fs-h-03;
      display: block;
      max-width: 198px;

      @include grid-media($grid-medium) {
        max-width: 290px;
      }

      @include grid-media($grid-large) {
        display: inline-block;
        margin-right: 26px;
        max-width: 326px;
      }

      &:first-child {
        margin-bottom: $base-padding;

        @include grid-media($grid-large) {
          margin-bottom: 0;
        }
      }
    }
  }

  .call-to-action:last-of-type {
    margin-bottom: 14px;
  }
}

