.page-people {
  padding-top: 69px;

  @include grid-media($grid-medium) {
    padding-top: 133px;
  }

  @include grid-media($grid-large) {
    padding-top: 188px;
  }

  .intro {
    position: relative;
    @include clearfix;
  }

  h2 {
    @extend .fs-h-11;
    position: absolute;
    top: 0; left: 50%;
    z-index: 1;
    text-align: center;
    color: $red-1;
    transform: translate(-50%, -33%);
  }

  .people {
    @include clearfix;
    background: repeat-x bottom left url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='1' height='1'><rect fill='rgb(17, 17, 17)' x='0' y='0' width='1' height='0.5'/></svg>");
    margin-bottom: 7px;
    padding-bottom: 37px;

    @include grid-media($grid-medium) {
      padding-bottom: 65px;
      margin-bottom: 9px;
    }

    .row {
      @include clearfix;
    }

    .person {
      float: left;
      width: calc(50% - #{$base-padding / 2});
      margin-left: $base-padding;
      margin-bottom: 30px;
      cursor: pointer;

      @include grid-media($grid-medium) {
        margin-bottom: 55px;
      }

      &.small-start {
        clear: both;
        margin-left: 0;

        @include grid-media($grid-medium) {
          clear: none;
        }
      }

      @include grid-media($grid-medium) {
        margin-left: 19px;
        width: calc(25% - 16px);

        &.small-start {
          margin-left: 19px;
        }

        &.big-start {
          margin-left: 0;
        }
      }

      @include grid-media($grid-large) {
        margin-left: 21px;
        width: calc(25% - 19px);
      }


      &.break {
        clear: left;
        @include grid-media($grid-medium) {
          clear: none;
        }
      }


      &.active {
        margin-bottom: 10px;

        .name-title .toggle-bio {
          display: none;
        }

        .name-title .arrow-container {
          max-height: 131px;
          visibility: visible;
        }
      }

      .photo-container {
        width: 100%;
        background-size: cover;
        background-position: center;
        padding-bottom: 120%;
        position: relative;

        // @include grid-media($grid-medium) {
        //   padding-bottom: 32%;
        // }
      }

      .name-title {
        .name {
          @extend .fs-h-00;
          margin: 15px 0 2px 0;

          @include grid-media($grid-medium) {
            margin: 22px 0 7px 0;
          }

          @include grid-media($grid-large) {
            margin: 30px 0 7px 0;
          }
        }

        .title {
          @extend .fs-sm-01;
          margin-bottom: 0;

          @include grid-media($grid-medium) {
            margin-bottom: 10px;
          }
        }

        .toggle-bio {
          display: none;

          @include grid-media($grid-medium) {
            display: inline-block;
          }

          &:hover {
            border-bottom: 1px solid;
          }
        }

        .arrow-container {
          position: relative;
          z-index: -1;
          transform: translateY(-10px);
          font: 400 60px/35px $helvetica;
          color: $red-1;
          letter-spacing: -0.78px;
          text-align: center;
          max-height: 0;
          overflow: hidden;
          overflow: visible;
          visibility: hidden;

          @include grid-media($grid-medium) {
            font: 400 120px/105px $helvetica;
            letter-spacing: -.31px;
          }

          @include grid-media($grid-large) {
            font: 400 200px/150px $helvetica;
            letter-spacing: -2.5px;
          }

          img {
            width: 24%;
          }
        }
      }
    }


    .bio-container {
      clear: both;

      &.active {
        .border-top-container, .close-container {
          display: block;
        }
      }

      .main-container {
        @include clearfix;
        padding-bottom: 24px;
      }

      .copy {
        @include grid-media($grid-medium) {
          @include grid-column(8);
          @include grid-push(2);
        }

        @include grid-media($grid-large) {
          @include grid-column(6);
          @include grid-push(3);
        }
      }

      .bio {
        margin-bottom: 20px;

        @include grid-media($grid-medium) {
          margin-bottom: 28px;
        }

        p {
          margin-bottom: 1em;

          @include grid-media($grid-large) {
            padding-right: 45px;
          }

          @media (min-width: $screen-lg-break) {
            max-width: 672px;
            margin-left: auto;
            margin-right: auto;
          }
        }
      }

      .instagram {
        @extend small;
        margin-bottom: 18px;

        @include grid-media($grid-large) {
          padding-right: 45px;
        }

        @media (min-width: $screen-lg-break) {
          max-width: 672px;
          margin-left: auto;
          margin-right: auto;
        }

        img {
          display: inline-block;
          width: 8px; height: auto;
          margin-left: 8px;
        }
      }

      .close-container {
        margin-bottom: 24px;
        padding: 12px 0 19px 0;
        text-align: center;
        cursor: pointer;

        @include grid-media($grid-medium) {
          padding-top: 5px;
          padding-bottom: 40px;
        }

        @include grid-media($grid-large) {
          padding-top: 45px;
          padding-bottom: 75px;
          padding-right: 45px;
        }
      }
    }
  }

  .call-to-action {
    margin-bottom: 14px;

    @include grid-media($grid-medium) {
      margin-bottom: 93px;
    }
  }

  .read-more a {
    color: $red-1;
  }
}
