.module.background-color {

}

.module.background-color-with-image {
  .lead-image {
    position: relative;
    z-index: 1;

    .module-contents {
      @include grid-column(4);
      @include grid-push(1);
      z-index: 1;
    }

    &:before {
      content: '';
      position: absolute;
      z-index: 0;
      top: 0; left: -50vw;
      height: 50%; width: 200vw;
      background-color: $white;
    }

    img {
      margin-bottom: 0;
    }
  }
}
