.module.image-group {
  .image-grid {
    @include grid-media($grid-medium) {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &.col-1 .image-container {
        max-width: 100%;
      }

      &.col-2 .image-container {
        max-width: calc(#{percentage(1/2)} - 14px);
      }

      &.col-3 .image-container {
        max-width: calc(#{percentage(1/3)} - 14px);
      }

      &.col-4 .image-container {
        max-width: calc(#{percentage(1/4)} - 14px);
      }

      &.col-5 .image-container {
        max-width: calc(#{percentage(1/5)} - 14px);
      }

      &.col-6 .image-container {
        max-width: calc(#{percentage(1/6)} - 14px);
      }
    }
  }

  &.prevent-stacking {
    @media (max-width: $screen-md-min - 1) {
      .image-grid {
        flex-flow: row nowrap;
        display: flex;
        justify-content: space-between;

        .image-container.no-image-caption img {
          margin-bottom: 0;
        }

        &.col-1 .image-container {
          max-width: 100%;
        }

        &.col-2 .image-container {
          max-width: calc(#{percentage(1/2)} - 9px);
        }

        &.col-3 .image-container {
          max-width: calc(#{percentage(1/3)} - 9px);
        }

        &.col-4 .image-container {
          max-width: calc(#{percentage(1/4)} - 9px);
        }

        &.col-5 .image-container {
          max-width: calc(#{percentage(1/5)} - 9px);
        }

        &.col-6 .image-container {
          max-width: calc(#{percentage(1/6)} - 9px);
        }
      }
    }
  }

  .image-container {
    margin-bottom: $base-padding;

    @include grid-media($grid-medium) {
      margin-bottom: 0;
      flex: 1;
    }

    img {
      display: block;
    }
  }

  .image-container.no-caption img {
    margin-bottom: 0;
  }

  .image-container.no-image-caption {
    margin-bottom: 0;
  }

  .image-container.no-image-caption:not(first-child) img {
    margin-bottom: $base-padding;

    @include grid-media($grid-medium) {
      margin-bottom: 0;
    }
  }

  .image-container.no-image-caption:last-child img {
    margin-bottom: 0;
  }
}
